<div class="col-md-9">
		<div class="card card-body w-100 border-0">
			<img src="{% static 'images/noimage2.png' %}" alt="" class="w-100">
			<p style="font-weight: 600; font-size: 20px;" class="mt-4">Judul Content</p>
			<hr>
			<div class="content">
				<p style="font-weight: 300">Hi! When i resize the window so the left navbar disappears and re-maximes the window again it looks like the footers height would change. Only happens when the content-page isn't scrollable. (Tested on: https://almsaeedstudio.com/themes/AdminLTE/pages/examples/blank.html) The misbehaviour only seems to appear in the latest und previous chrome version(44.0.2403.89). When tried on latest Firefox and IE everything works just fine 
					<a href="" style="font-weight: 500">Read More</a>
				</p>
			</div>
			<hr>
			<p style="font-size: 12px;">Author</p>
		</div>
	</div>
	<div class="col-md-3" style="border-left: solid red;">
		<div class="card card-body border-0">
			<p style="font-weight: 600;">
				Tentang Saya
			</p>
			<hr>
			<p>
				Halo ini tentang saya loh
			</p>
		</div>
	</div>