{%  extends 'admin/main.html' %}
{% load static %}
{% block nav %}
<div class="container">
  {% include 'admin/navbar.html' %}
</div>
{% endblock %}
{% block content %}
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      {% for i in post %}
      <h1 class="mt-4">{{i.judul}}</h1>

      <!-- Author -->
      <p class="lead">
        <i class="far fa-user"></i><span><a href="{% url 'author' i.author.username %}" style="font-weight: 600; color: #E06905;"> @{{i.author}}</a></span>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{i.created_at}}</p>

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="{{i.thumbnail.url}}" alt="">
      <small class="text-muted" style="font-style: italic;">- Property of @{{i.author}}</small>

      <hr>

      <!-- Post Content -->
      <div style="font-weight: 350; text-align: justify; font-size: 18px;">{{i.isi|safe}}</div>
      <br>
      <br>
      <hr>
      <p class="mt-4 p-2" style="font-weight: 700; font-size: 26px; border-left:solid 5px;">Comments</p>
      <hr>
      <br>

      <!-- Comment with nested comments -->
      {% if cocount == 0 %}
        <div class="card card-body mx-auto border-0 mt-4 mb-4" style="width: max-content">
          <h4>No comments to show</h4>
        </div>
        <br>
        <hr>
        {% else %}
      {% for i in comment %}
      <div class="media mb-4 pl-4" id="comments">
        <img class="d-flex mr-3 rounded-circle" src="{% static 'images/asset8.png' %}" alt="" style="width: 64px;">
        <div class="media-body">
          <h6 class="mt-0">{{i.email}}</h6>
          {{i.comment}}
          <p><small class="text-muted">{{i.created_at}}</small></p>
        </div>
      </div>
      <hr>
      {% endfor %}
      {% endif %}

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
              {{form.post.as_hidden}}
            <div class="form-group">
              <label for="id_nama">Email : </label>
              {{form.email}}
            </div>
            <div class="form-group">
              <label for="id_comment">Komentar : </label>
              {{form.comment}}
            </div>
            <div class="ml-auto" style="width: max-content">
              <input class="btn" type="submit" value="Kirim Komentar" style="background: #E06905; color: white;">
            </div>
          </form>
        </div>
      </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header" style="background: #130f40; color: white;">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn" type="button" style="background: #E06905; color: white;">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header" style="background: #130f40; color: white;">Tags</h5>
        <div class="card-body">
          <div class="row">
            
            <div class="col-md-12">
              {% for m in i.tag.all %}
              <a class="btn btn-sm mb-1" href="{% url 'bytag' m.name %}" style="background: #E06905; color: white;"><i class="fas fa-tag"></i> {{m}}</a>
              {% endfor %}
            </div>
            
          </div>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
  <!-- /.row -->

</div>
<script>
/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field
 */

//Query All input fields
var text_fields = document.getElementsByTagName('textarea')
text_fields[0].placeholder='Tuliskan komentar di sini...';

var input_fields = document.getElementsByTagName('input')
input_fields[2].placeholder='example@email.com';


for (var field in text_fields){
  text_fields[field].className += ' form-control'
}
for (var field in input_fields){
  input_fields[field].className += ' form-control'
}
</script>
{% endblock %}