{%  extends 'admin/main.html' %}
{% load static %}
{% block nav %}
<div class="backgroundHome">
	<div class="container">
		{% include 'admin/navbar.html' %}
	</div>
{% endblock %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  	{% for m in lastrange %}
    <li data-target="#carouselExampleCaptions" data-slide-to="{{m}}" class="active"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
  	{% for i in lastcontent %}
  	{% for k in oneid %}
  	{% if i.id == k.id %}
    <div class="carousel-item active">
    {% else %}
    <div class="carousel-item">
    {% endif %}
    {% endfor %}
      <img src="{{i.thumbnail.url}}" class="d-block w-100" style="object-fit: cover; height: 500px">
      <div class="carousel-caption d-none d-md-block" style="background:rgba(0, 0, 0, 0.3);">
        <h5>{{i.judul}}</h5>
        <p>{{i.isi|safe|truncatewords:"9"}} <span><a href="{% url 'postdetail' i.slug i.id %}" style="color: white; font-weight: 600;"> Read More</a></span></p>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<hr style="margin-top: 62px">
<p class="mt-4 pl-2 ml-4" style="font-weight: 700; font-size: 26px; border-left:solid 5px;">Recent Places</p>
<hr>
<div id="places" class="row" style="margin-top: 50px;">
	{% for i in recplaces %}
	<div class="col-md-4">
		<div class="card mb-4" style="">
		  <img src="{{i.thumbnail.url}}" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
		  <div class="card-body">
		    <h5 class="card-title" style="font-size: 16px;">{{i.judul}}</h5>
		    <p class="card-text" style="font-size: 14px !important;">{{i.isi|safe|truncatewords:"8"}}</p>
		    <div class="row">
		    	<div class="col-md-7">
		    		<p class="card-text"><small class="text-muted">{{i.created_at}}</small></p>
		    	</div>
		    	<div class="col-md-5 text-right">
		    		<a class="card-text" href="{% url 'postdetail' i.slug i.id %}"><small class="text-muted">Read More</small></a>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
	{% endfor %}
</div>

<p class="mt-4 pl-2 ml-4" style="font-weight: 700; font-size: 26px; border-left:solid 5px;">Recent Photography</p>
<hr>
<div id="places" class="row" style="margin-top: 50px;">
	{% for i in recphotography %}
	<div class="col-md-4">
		<div class="card mb-4" style="">
		  <img src="{{i.thumbnail.url}}" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
		  <div class="card-body">
		    <h5 class="card-title" style="font-size: 16px;">{{i.judul}}</h5>
		    <p class="card-text" style="font-size: 14px !important;">{{i.isi|safe|truncatewords:"8"}}</p>
		    <div class="row">
		    	<div class="col-md-7">
		    		<p class="card-text"><small class="text-muted">{{i.created_at}}</small></p>
		    	</div>
		    	<div class="col-md-5 text-right">
		    		<a class="card-text" href="{% url 'postdetail' i.slug i.id %}"><small class="text-muted">Read More</small></a>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
	{% endfor %}
</div>
<hr>
</div>

{% endblock %}