{%  extends 'admin/main.html' %}
{% load static %}
{% block nav %}
<div class="container">
	{% include 'admin/navbar.html' %}
</div>
{% endblock %}

{% block content %}
<div id="places" class="row" style="margin-top: 50px;">
	{% for i in page_obj %}
	<div class="col-md-4">
		<div class="card mb-4" style="">
		  <img src="{{i.thumbnail.url}}" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
		  <div class="card-body">
		    <h5 class="card-title" style="font-size: 16px;">{{i.judul}}</h5>
		    <p class="card-text" style="font-size: 14px !important;">{{i.isi|safe|truncatewords:"8"}}</p>
		    <div class="row">
		    	<div class="col-md-7">
		    		<p class="card-text"><small class="text-muted">{{i.created_at}}</small></p>
		    	</div>
		    	<div class="col-md-5 text-right">
		    		<a class="card-text" href="{% url 'postdetail' i.slug i.id %}"><small class="text-muted">Read More</small></a>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
	{% endfor %}
</div>

<div style="width: max-content" class="ml-auto" style="color: black !important;">
	<nav aria-label="Page navigation example" style="width: max-content;">
	  <ul class="pagination">
	  	{% if page_obj.has_previous %}
	    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}#places">Previous</a></li>
	    {% endif %}
	    <li class="page-item"><span class="page-link" style="color: black !important;">Page {{ page_obj.number }} Of {{ page_obj.paginator.num_pages }}</span></li>
	    {% if page_obj.has_next %}
	    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}#places">Next</a></li>
	    {% endif %}
	  </ul>
	</nav>
</div>
{% endblock %}