<nav class="navbar navbar-expand-lg navbar-{% if mode == 'light' %}light{% else %}dark{% endif %} px-0" style="background-color: rgba(0, 0, 0, 0.0);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="{% url 'home' %}" class="navbar-brand p-0" style="font-weight: 800; font-size: 32px;">MoToW</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="ml-2 nav-item {% if nbar == 'home' %}active{% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="ml-2 nav-item {% if nbar == 'places' %}active{% endif %}">
        <a class="nav-link" href="{% url 'places' %}">Places</a>
      </li>
      <li class="ml-2 nav-item {% if nbar == 'photography' %}active{% endif %}">
        <a class="nav-link" href="{% url 'photography' %}">Photography</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/wdkris/" target="_blank"><i class="fab fa-instagram"></i>&nbsp; Instagram</a>
      </li>
    </ul>
  </div>
</nav>
<br>